@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:'Questrial', sans-serif;
    font-size: 1rem;
    background-color: #e8eef2;
}

header{
    background-color: white;
}

button{
    padding: 8px;
    outline: none;
    cursor: pointer;
    border:1px solid lightgray; 
    border-radius: 5px;
    background-color: white;
}

button:hover{
    background-color: lightgrey;
}

.container{
    width: 95%;
    margin: auto;
}

.nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    padding: 20px 0;
    background-color: white;
}

.nav button{
    font-family: inherit;
}

.create-box button{
    font-family: inherit;
    width: fit-content;
}

.create-box{
    width: 380px;
    margin:auto;
    padding: 20px;
    margin-top: 10px;
    border-radius:5px;
    background-color: #e8eef2;
    box-shadow: 0 2px 4px 0 rgb(0, 0, 0, 0.5);
}

.create-box textarea{
    width: 100%;
    border-radius: 5px;
    font-family: inherit;
    border: 1px solid lightgray;
}

.flashcards{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0 10px;
}

.flashcard{
    width: 370px;
    height: 200px;
    word-wrap: break-word;
    margin: 10px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgb(0, 0, 0, 0.5);
}

.flashcard h2{
    font-size: 1rem;
}

@media (max-width: 768px) {
    .flashcard{
        margin: auto;
        width: 100%;
    }

    .flashcard{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .create-box{
        width: 100%;
    }

    .flashcard{
        width: 100%;
    }

    .nav{
        flex-direction: column;
        align-items: center;
    }
}